html, body {
    font: 'PingFang TC', Semibold;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.text-primary {
    color: #3F5D45;
}

.bg-primary {
    background: #3F5D45;
}

.text-secondary {
    background: #EAF0ED;
}

.bg-secondary {
    background: #EAF0ED;
}