html, body {
    font-family: 'PingFangTC-Semibold', 'PingFang TC', 'Noto Sans TC', 'Microsoft JhengHei', Arial, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1024px;
    padding: 30px 42px 0 42px;
    margin: 0 auto;
}

.text-primary {
    color: #3F5D45;
}

.bg-primary {
    background: #3F5D45;
}

.text-secondary {
    background: #EAF0ED;
}

.bg-secondary {
    background: #EAF0ED;
}