header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    height: 40px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    font-size: 16px;
}

.nav-item a {
    display: block;
    padding: 9px 30px 9px 30px;
}

.nav-item a:hover {
    background: #3F5D45;
    color: #EAF0ED;
}

.cart {
    display: block;
    padding: 5px 0 5px 49px;
}