main {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}


.side-nav {
    width: 300px;
}

.side-nav-title, .side-nav-item, .add-to-cart {
    font-size: 24px;
    padding: 16px 0;
    text-align: center;
    display: block;
}

.side-nav-item, .add-to-cart {
    border: 1px solid #EAF0ED;
    box-sizing: border-box;
}

.side-nav-item:hover, .add-to-cart:hover {
    background: #3F5D45;
    color: #EAF0ED;
}

.product-list {
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    margin-bottom: 20px;
    position: relative;
}

.product-info {
    display: flex;
    border-left: 1px solid #EAF0ED;
}

.product-name {
    border-right: 1px solid #EAF0ED;
    color: #3F5D45;
    font-size: 20px;
    font-weight: 300;
    padding: 12px 33px;
}

.price {
    border-right: 1px solid #EAF0ED;
    color: #3F5D45;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 20px 12px 0;
    margin-left: auto;
}

.recommend {
    position: absolute;
    top: 0;
    left: 20px;
    background: #3F5D45;
    color: #EAF0ED;
    padding: 10px;
    writing-mode: vertical-rl;
    letter-spacing: 4px;
}

.add-to-favorite {
    position: absolute;
    top: 19px;
    right: 22px;
}