main {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}


.side-nav {
    width: 300px;
}

.side-nav-title, .side-nav-item {
    font-size: 24px;
    padding: 16px 0;
    text-align: center;
    display: block;
}

.side-nav-item {
    border: 1px solid #EAF0ED;
    box-sizing: border-box;
}

.side-nav-item:hover {
    background: #3F5D45;
    color: #EAF0ED;
}

.product-list {
    margin-left: 20px;
}